.cost-date {
    display: flex;
    flex-direction: column;
}

.cost-date__year {
    font-size: 2rem;
    font-weight: bold;
    align-self: center;
}

.cost-date__bottom {
    display: flex;
    justify-content: space-between;
    padding: 0 0.5rem 0.2rem;
    color: white;
    background-color: rgb(113, 64, 124);
    border-radius: 10px;
    min-width: 6.3rem;
}

.cost-date__month {
    text-transform: uppercase;
}
